<div class="counter-item counter-damage">
    <button mat-mini-fab color="warn"><mat-icon>exposure_minus_1</mat-icon></button>
    <span>99</span>
    <button mat-mini-fab color="accent"><mat-icon>exposure_plus_1</mat-icon></button>
</div>
<div class="counter-item counter-horror">
    <button mat-mini-fab color="warn"><mat-icon>exposure_minus_1</mat-icon></button >
    <span>99</span>
    <button mat-mini-fab color="accent"><mat-icon>exposure_plus_1</mat-icon></button>
</div>
<div class="counter-item counter-resources">
    <button mat-mini-fab color="warn"><mat-icon>exposure_minus_1</mat-icon></button>
    <span>99</span>
    <button mat-mini-fab color="accent"><mat-icon>exposure_plus_1</mat-icon></button>
</div>