mat-toolbar {
    margin-bottom: 5px;
}

mat-toolbar>* {
    flex: 1 1 auto;
    width: 0;
}

.button-container{
    display: inherit;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 5px;
}

app-investigator {
    background-color: var(--pearl);
    box-shadow: 3px 3px 2px #AAAAAA;
}