mat-toolbar>* {
    flex: 1 1 auto;
    width: 0;
}

h1 {
    font-size: 1em;
    font-weight: bold;
}

.button-container {
    display: inherit;
    justify-content: flex-end;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 15px;
}

app-investigator {
    background-color: var(--dun);
    border: 1px solid var(--hookers-green);
    box-shadow: 3px 3px 2px #AAAAAA;
}