<mat-toolbar color="primary">
  <div class="caption">08-Aug-23 16:27:32</div>
  <div class="button-container">
    <button mat-icon-button aria-label="Example icon-button with heart icon">
      <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>import_export</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-toolbar>

<main>
  <div class="grid-container">
    <app-investigator [id]="1"></app-investigator>
    <app-investigator [id]="2"></app-investigator>
  </div>
  <app-caos></app-caos>
</main>