
$md-parchment: (
    50: #fdfcfa,
    100: #fbf8f2,
    200: #f8f4e9,
    300: #f5f0e0,
    400: #f3ecd9,
    500: #f1e9d2,
    600: #efe6cd,
    700: #ede3c7,
    800: #ebdfc1,
    900: #e7d9b6,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    )
);

$md-prussianblue: (
    50: #e2e6e9,
    100: #b6c0c8,
    200: #8596a3,
    300: #546c7e,
    400: #2f4d63,
    500: #0a2d47,
    600: #092840,
    700: #072237,
    800: #051c2f,
    900: #031120,
    A100: #5d98ff,
    A200: #2a78ff,
    A400: #005af6,
    A700: #0051dc,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    )
);

$md-hookersgreen: (
    50: #e7edec,
    100: #c2d2cf,
    200: #9ab5af,
    300: #72978e,
    400: #538076,
    500: #356a5e,
    600: #306256,
    700: #28574c,
    800: #224d42,
    900: #163c31,
    A100: #7bffd7,
    A200: #48ffc8,
    A400: #15ffb8,
    A700: #00fbaf,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    )
);

$md-naplesyellow: (
    50: #fdf9e8,
    100: #fbf1c6,
    200: #f8e8a0,
    300: #f5de7a,
    400: #f2d75e,
    500: #f0d041,
    600: #eecb3b,
    700: #ecc432,
    800: #e9be2a,
    900: #e5b31c,
    A100: #ffffff,
    A200: #fff8e6,
    A400: #ffebb3,
    A700: #ffe49a,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    )
);

$md-carmine: (
    50: #f2e4e4,
    100: #dfbcbc,
    200: #ca8f90,
    300: #b46264,
    400: #a44042,
    500: #941e21,
    600: #8c1a1d,
    700: #811618,
    800: #771214,
    900: #650a0b,
    A100: #ff9799,
    A200: #ff6466,
    A400: #ff3134,
    A700: #ff181b,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    )
);
