.avatar-select {
    background-color: var(--sage);
    width: 175px;
}

.avatar {
    background-size: cover;
    display: flex;
    width: 175px;
    height: 210px;
    align-items: flex-end;
    text-align: right;
    padding: 0;
}